.image-icon22,
.text44 {
  flex: 1;
  position: relative;
}
.image-icon22 {
  height: 246px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 385px;
  cursor: pointer;
}
.text44 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.badge-base36,
.badge36 {
  display: flex;
  flex-direction: row;
}
.badge-base36 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge36 {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: lighten;
}
.text45 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base37,
.badge37 {
  flex: 1;
  flex-direction: row;
}
.badge-base37 {
  border-radius: var(--br-base);
  background-color: var(--pink-50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge37 {
  mix-blend-mode: lighten;
  min-width: 53px;
  color: var(--pink-700);
}
.badge37,
.blog-post-card12,
.categories14,
.content27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories14 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-417xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
}
.blog-post-card12,
.content27 {
  flex: 1;
  max-width: 100%;
}
.content27 {
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 385px;
}
.blog-post-card12 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-13xl);
}
.container16,
.content26 {
  align-self: stretch;
  align-items: flex-start;
}
.content26 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.container16 {
  flex-direction: column;
  padding: 0 var(--padding-13xl);
}
.container16,
.section-container,
.section4 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.section4 {
  flex: 1;
  background-color: var(--color-gray-400);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-61xl);
}
.section-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xl);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--color-slateblue);
  font-family: var(--text-l-medium);
}
@media screen and (max-width: 750px) {
  .image-icon22 {
    min-width: 100%;
  }
  .categories14 {
    flex-wrap: wrap;
    padding-right: var(--padding-199xl);
    box-sizing: border-box;
  }
  .content27 {
    min-width: 100%;
  }
  .blog-post-card12,
  .container16,
  .content26 {
    gap: var(--gap-base);
  }
  .section4 {
    gap: var(--gap-13xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .categories14 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .section4 {
    gap: var(--gap-base);
  }
}
