.arrow-left-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text55 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button-base3 {
  gap: var(--gap-5xs);
}
.button-base3,
.button8,
.previous-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.previous-button-wrapper {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.number {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.content31 {
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
}
.pagination-number-base {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite-200);
  overflow: hidden;
  color: var(--color-gray-300);
}
.content32,
.pagination-number-base,
.pagination-number-base1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content32 {
  flex: 1;
  border-radius: var(--br-5xs);
  padding: var(--padding-3xs) var(--padding-mini);
}
.pagination-number-base1 {
  overflow: hidden;
}
.content33,
.content34,
.pagination-number-base1 {
  flex: 1;
  border-radius: var(--br-5xs);
}
.content33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-mini);
}
.content34 {
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-sm);
}
.content34,
.content37,
.pagination-numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content37 {
  flex: 1;
  border-radius: var(--br-5xs);
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-3xs)
    var(--padding-xs);
}
.pagination-numbers {
  gap: var(--gap-11xs);
  text-align: center;
}
.text56 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.pagination {
  align-self: stretch;
  border-top: 1px solid var(--color-whitesmoke-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xl-5) 0 var(--padding-12xs-5);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--color-whitesmoke-100);
  font-family: var(--text-l-medium);
}
@media screen and (max-width: 750px) {
  .pagination {
    flex-wrap: wrap;
  }
}
