.heading19,
.subheading3 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.heading19 {
  margin: 0;
  font-size: var(--display-lg-semibold-size);
  letter-spacing: -0.02em;
  line-height: 60px;
  font-family: inherit;
  color: var(--white-ffffff);
}
.heading-and-subheading3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.supporting-text57 {
  margin: 0;
  width: 768px;
  position: relative;
  font-size: var(--website-heading-6-size);
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-silver);
  display: inline-block;
  max-width: 100%;
}
.heading-and-supporting-text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.label3,
.mail-icon2 {
  position: relative;
  display: none;
}
.label3 {
  line-height: 20px;
  font-weight: 500;
}
.mail-icon2 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.content40,
.text57 {
  flex: 1;
  max-width: 100%;
}
.text57 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.content40 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
}
.input-with-label3,
.input6 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input6 {
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-5xs);
  background-color: var(--white-ffffff);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
  gap: var(--gap-5xs);
  min-height: 48px;
  font-size: var(--text-l-medium-size);
  color: var(--gray-500);
}
.input-with-label3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.privacy-policy4 {
  text-decoration: underline;
}
.hint-text3 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--color-silver);
}
.input-field-base3,
.input-field3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field-base3 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.input-field3 {
  flex: 1;
  min-width: 234px;
}
.text58 {
  position: relative;
  font-size: var(--text-l-medium-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--text-l-medium);
  color: var(--white-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.button-base5,
.button10 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base5 {
  height: 48px;
  flex: 1;
  box-shadow: var(--shadow-xs);
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
}
.container17,
.content39,
.email-capture3,
.section5 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.email-capture3 {
  width: 494px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
}
.container17,
.content39,
.section5 {
  align-self: stretch;
  flex-direction: column;
}
.content39 {
  align-items: center;
  gap: var(--gap-21xl);
}
.container17,
.section5 {
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.section5 {
  align-items: center;
  padding: var(--padding-11xl) var(--padding-61xl);
  text-align: center;
  font-size: var(--text-l-medium-size);
  color: var(--primary-600);
  font-family: var(--text-l-medium);
}
@media screen and (max-width: 1050px) {
  .heading19 {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .content39 {
    gap: var(--gap-xl);
  }
  .container17 {
    gap: var(--gap-base);
  }
  .section5 {
    gap: var(--gap-13xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading19 {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .supporting-text57 {
    font-size: var(--text-l-medium-size);
    line-height: 24px;
  }
  .section5 {
    gap: var(--gap-base);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
